
<div class="booyah-box">
    <div class="hero">
        <br />
        <h1>Let's play some Chess.</h1>
        <br />
        <h2>Sign up and start a game to challenge your friend, your neighbor, or your grandma.</h2>
        <br />
    </div>
</div>